*,
*::after,
*::before {
	margin: 0;
	padding: 0;
}

:root {
 --element-count : 2;
}

li {
	list-style: none
}
ul {
	margin-bottom: 0
}
.MC {
    max-width: 100%;
  	height: 45rem;
    overflow-x: hidden;
  	position: relative;
    box-shadow: 0 0 80px 15px black;
}

.picture__slider {
  display: flex;
  height: 100%;
  width: calc(var(--element-count) * 100%);
}

.MCImageContainer {
  flex-shrink: 0;
  flex-basis: calc(100% /var(--element-count));
  padding-bottom: 0;
  background-color: #ebeced;
}
.MCImageContainer img, .MCImageContainer video {
	width: 100%;
	height: 100%;
	object-fit: cover;
	display: block;
	background-color: #ebeced;
}

.MCControls .MCBtnNext {
  margin-top: 0;
  padding:10px;	
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
  color: #fbf9f9;
  font-size: 24px;
}
.MCControls .MCBtnPrev {
  margin-top: 0;
  padding:10px;
  position: absolute;
  left: 0px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
  color: #fbf9f9;
  font-size: 24px;
}

.hide {
	display: none;
}

.MCSlideContent {
  position: absolute;
  font-family: 'barlow';
  color: white;
  margin-left: 5vw;
  margin-top: 5vh;
  width: 100%;
}

.MCSlideContentTitle {
}
.MCSlideContent h2 {
  text-transform: uppercase;
  font-size: 12vh;
}

.MCSlideContent .MCSlideContentArticle {
  width: 35vw;

  margin-top: 1%;
  padding: 1% 1%;
  border-radius: 6px;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(50px) saturate(120%);
  border: 1px solid white;
}

.MCSlideContent article {
  font-size: 1vw;
}

.MCTextAnim {
  animation: MCTextAnim 1s ease-out alternate;
}


.MCBtnNext:not(hover) polyline {
  animation: animateArrowRight 1s ease-in-out infinite;
}

.MCBtnPrev:not(hover) polyline {
  animation: animateArrowLeft 1s ease-in-out infinite;
}

.MCControls:hover polyline,
.MCControls:focus polyline {
  stroke-width: 3.5 !important;
}

.MCBtnNext:active polyline,
.MCBtnPrev:active polyline {
  stroke-width: 5;
  transition: all 50ms ease-in-out;
}

.MCControls polyline {
  transition: all 250ms ease-in-out;
}

@keyframes animateArrowRight {
  0%{transform:translateX(-3px); stroke-width: 1.5;}
  50%{transform:translateX(3px); stroke-width: 2.5;}
  100%{transform:translateX(-3px);stroke-width: 1.5;}
}

@keyframes animateArrowLeft {
  0%{transform:translateX(-3px); stroke-width: 2.5;}
  50%{transform:translateX(3px); stroke-width: 1.5;}
  100%{transform:translateX(-3px);stroke-width: 2.5;}
}

@keyframes MCTextAnim {
  0%{transform:translateY(-500px); }
  100%{transform:translateY(0px); }
}

@media screen and (max-width : 321px) {
	.MC{
		float: none;
		width: 100%
	}
	.MC {
		min-height: 300px;
		max-height: 300px
	}
	.MC img {
		height: 300px
	}
	.MCControls .MCBtnNext,
	.MCControls .MCBtnPrev{
		background: #7b666663 !important;
	}

  .MCSlideContent {
    position: absolute;
    font-family: 'barlow';
    color: white;
    margin-left: 0vw;
    margin-top: 0vh;
    padding-left: 2vh;
    width: 100%;
    height: 100%;
  }
  .MCSlideContent h2 {
    text-transform: uppercase;
    font-size: 8vw;
  }
  
  .MCSlideContentArticle {
    font-size: 2vw;
    margin-top: 1%;
    padding : 0;
    border-radius: 6px;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(50px) saturate(120%);
    border: 1px solid white;
  }
  
}

