


#projectContainer {
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
    column-gap: 5%;
    margin-left: 5%;
}
#ProjectList {
    flex-grow: 0;
    flex-shrink: 0;
    margin-top: 1%;
    width: 20%;
    justify-content: flex-start;
    border: #0000002d solid 1px;
}

#ProjectList hr {
    background: var(--color-4-transparent);
    width: 50%;
    border-top: 10px solid var(--color-4-transparent);
    margin-top: 0%;
    margin-bottom: 0%;
}

#ProjectList ul {
    white-space: nowrap;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow:hidden;
}

#ProjectList li a p {
    margin: 0;
    padding: 5% 0 5% 0;
}
#ProjectList li a {
    display: block;
    color: #000;
    padding-left: 20px;
    font-family: 'barlow';

}
#ProjectList li a.active {
    background-color: #D3341B;
    color: white;
}

#ProjectList li a:hover:not(.active) {
    color: white;
    background-color: #D3341B;
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    font-weight: bold;
}

#ProjectInf {
    margin-right: 10%;
    flex-grow: 0;
    flex-shrink: 0;
    margin-top: 2%;
    margin-bottom: 4%;
    font-family: 'barlow';
    transition: .12s linear;
    width: 70%;
}

#ProjectInf h1 {
    margin-left: -1%;
    font-size: 80px;
    font-weight: bold;
    font-family: 'barlow';
    margin-bottom: 50px;
}

#ProjectInf h2 {
    font-size: 30px;
    font-weight: bold;
    font-family: 'barlow';
    margin-bottom: 10px;
}

#ProjectInf .text {
    font-size: 18px;
    font-family: 'barlow';
    margin-top: 0px;
}

.youtube-link {
    display: inline-block;
}
.youtube-link img{
    width: 560px;
}

.external-link {
    color: inherit;
    text-decoration: none;
    font-size: 15px;
    font-family: 'barlow';
    margin-top: 0px;
    padding: 2px;
}

.external-link {
    background:
            linear-gradient(to right,
                    var(--color-4-transparent),
                    var(--color-4-transparent)),
                linear-gradient(to right,
                    var(--color-4),
                    var(--color-4));
        background-size: 100% 3px, 0 3px;
        background-position: 100% 100%, 0 100%;
        background-repeat: no-repeat;
        transition: background-size 150ms;
    }

.external-link:hover {
    background-size: 0 3px, 100% 3px;
}

.ImgTitleContainer {
    margin-top: 2%;
    /* outline: var(--color-4-transparent) solid 2px; */
    background: linear-gradient(to left, white, #ececec);
    box-shadow: 0 2px 0  var(--color-4-transparent);
}

.ImgTitleContainer img {
    filter: drop-shadow(-4px 4px 0px var(--color-4-transparent));
}

@media (max-width: 1700px) {
    #ProjectList {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 1300px) {
    #ProjectList {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 992px) {
    #ProjectList {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 768px) {

    #ProjectList {
        grid-template-columns: auto;
    }
    
    #ProjectInf {
        margin-left: 5%;
        margin-right: 5%;
    }

    #ProjectInf h1 {
        margin-left: -2%;
    }

    .youtube-link {
        display: block;
    }

    .youtube-link img{
        width: 100%;
    }

    .youtube-link iframe{
        width: 100%;
    }

    .projectButton {
    
        border-radius: 10px;
        width: 100%;
        height: 100%;
        text-align: center;

    }

    .projectButton p {
        font-size: 20px;
        margin: 0;
        padding: 0;
    }
}